# Python cache
__pycache__/
*.pyc

# Virtual Environment (если используете)
.venv/
env/

# Mac OS system files
.DS_Store

# Игнорируем скачанные папки со скриншотами
# (чтобы не засорять репозиторий чужими картинками)
*_us/
*_ru/
*_kz/
*_gb/
*/